{% extends "TaxiAdminUsuarioBundle:Usuario:layout.html.twig" %}

{% block usuario_contenido %}

<div class="panel panel-default">
	<div class="panel-body">
		<h3>Información Ingresada al Sistema</h3>

		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					<tr>
						<th>Propietarios</th>
						<td>{{ propietarios }}</td>
					</tr>
					<tr>
						<th>Empresas</th>
						<td>{{ empresas }}</td>
					</tr>
					<tr>
						<th>Móviles</th>
						<td>{{ moviles }}</td>
					</tr>
					<tr>
						<th>Choferes</th>
						<td>{{ choferes }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</div>

{% endblock %}