@charset "utf-8";

/* reset */
*{
    margin:0;
    padding:0;
    outline:0;
}
img {
    border: 0; 
}

body { 
    font: .8em Arial, Verdana, Tahoma, Sans-Serif; 
    background: #f4f4f4 url(../images/app/bgtile.jpg) repeat-x; 
    color: #494848; 
}

/* typography and links */
a { 
    text-decoration: none;
    color: #333;
}

p  { 
    margin: 0 0 17px; 
    line-height: 1.6em; 
}

/* headings */
h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.beta {
    font: .5em Tiza; 
}

h1 { 
    float: left; 
    font-size: 2.1em; 
    color: #fff;
    letter-spacing: -1.4px;	
    padding: 20px 0 0 10px;
}
h1 a { 
    color: #fff; 
}
h2 { 
    margin: 0 0 15px; 
    font-size: 1.9em; 
    color: #000; 
}
h2.inner { 
    border-bottom: 1px solid #ddd; 
    margin: 0 0 25px; 
    padding: 0 0 10px; 
}
h3 { 
    margin: 0 0 7px;  
    font-size: 1.3em; 
    clear: both; 
    color: #000; 
    line-height: 1.3em; 
}
h4 { 
    margin: 0 0 10px; 
    font-size: 1.2em;
    color: #2D2D29;
}

h4.inner { 
    border-bottom: 1px solid #C0C0C0; 
    margin: 0 0 20px; 
    padding: 0 0 5px; 
}

h5 {
    font-size: 1em;
    color: #eee; 
    margin: 0 0 14px;
}

.logo_colour {
    color: #0078a3;
}

#bg { 
    background: url(../images/app/bg.jpg) no-repeat center top; 
}

/* menu */
#mainmenu { 
    float: right; 
    padding: 20px 0 0; 
    width: 600px;
}
#menu ul { 
    float: right; 
}
#menu li { 
    display: inline; 
    float: left; 
    margin: 0 0 0 18px; 
}
#menu li a { 
    display: block; 
    color: #999; 
    padding: 7px; 
    font-size: 1.2em;
    border: 1px solid transparent; 
}

#menu a:hover, #menu li.current a { 
    border-color: #DDDDDD; 
}

#menu li ul { 
    top: 98px;
    background: url(../images/app/dot.png); 
    padding: 3px;
    font-size: .92em; 
    position: absolute; 
    display: none; 
    z-index: 100; 	
}
#menu li ul li { 
    float: none; 
    display: inline; 
    margin: 0; 
    padding: 0; 
    clear: left;
}

#contacto li {
    display: inline;
    float: left;
    margin: 0 180px 0 18px;
}

#menu li ul li a { 
    color: #fff;
    margin: 4px; 
    white-space: nowrap;
    padding: 8px;	
}
#menu li ul li a:hover {
    background: #2C2D2F;
    border-color: #2C2D2F;
}

#mensaje { 
    margin: 0 auto;
    font-weight: bold;
}

.path{
    font-size: 1.2em;
    color: #0078a3;
    margin: 15px;
    text-align: center;
    border-bottom: 1px solid #929292;
}

.sidebar .news:hover{ 
    background: url("../images/app/dot.png") repeat scroll 0 0 transparent;
}

.sidebar {
    float:left;
    width: 209px;
    height: 100%;
    padding: 10px 0 0 0;
}

.news { 
    border-bottom: 1px dotted #CDCDCD;
}

.news h5 { 
    margin: 0 1px; 
    font-size: 1.1em;
}

.news label { 
    padding: 10px 5px 5px 0;
    font-size: 1.1em;
    color: #333333;
    text-decoration: none;
    /*quito las propiedades que agrega jquery*/
    border: none;
    background: none; 
    font-weight: normal; 
}

.news p {
    margin: 0 11px 0 11px;
}

fieldset {
    border: 0;
}
label { 
    display: block;
    color: #444;
    padding: 0 0 2px;
}
input.text, textarea.text {
    width: 250px;
    padding: 5px;
    border: 0;
    border: 1px solid #ddd;
    margin: 0 0 3px;
}
textarea.text  {
    width: 400px;
    height: 120px;
}

textarea.textareaShow {
    resize: none;
}
input.submit {
    color: #fff;
    padding: 7px 10px;
    border: 0;
    font-weight: bold;
    background: #777;
}

#footer { 
    clear: both; 
    color: #999; 
    background: url(../images/publica/bgtile.jpg) repeat-x;
    font-size: 1em;
}
#footerbg {
    padding: 9px 0 1px;
    background: url(../images/publica/bg.jpg) no-repeat center top;
}

#footer a:hover {
    border-color: #555;
}

#copy { 
    color: #777; font-size: 1.5em; 
}
#copy span { 
    color: #F4F4F4; 
}

#barraBotones {
    float: right;
    /*height: 25px;*/
    margin: 30px 100px 0 0;
    /*padding: 10px;
    width: 380px;*/
}

#barraBotones a {
    font-size: 1.1em;
}

/* despues hay que unir estos tres botones de la barra */
/* de botones por que hay pila de cosas que se repiten */

#barraBotones .botonCentro {
    background: #0078A3;
    border: 1px solid #0078A3;
    color: #FFFFFF;
    outline: medium none;
    display: inline-block;
    border-radius: 0;
    padding: 0.4em 1em;
    line-height: 1.4;
    float: right;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);
}

#barraBotones .botonIzquierdo {
    background: #0078A3;
    border: 1px solid #0078A3;
    color: #FFFFFF;
    outline: medium none;
    display: inline-block;
    border-radius: 15px 0 0 15px;
    padding: 0.4em 1em;
    line-height: 1.4;
    float: right;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);
}

#barraBotones .botonDerecho {
    background: #0078A3;
    border: 1px solid #0078A3;
    color: #FFFFFF;
    outline: medium none;
    display: inline-block;
    border-radius: 0 15px 15px 0;
    padding: 0.4em 1em;
    line-height: 1.4;
    float: right;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);
}

#barraBotones .botonIzquierdo:hover {
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
}

#barraBotones .botonDerecho:hover {
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
}

#barraBotones .botonCentro:hover {
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
}

#barraDetalles {
    float: left;
    margin: 30px 20px 20px 20px;
    width: 400px;
}

#barraInfoAdicional{
    float: right;
    margin: 30px 20px 0 0;
    width: 400px;
}

#tablasAdicionales{
    clear: both;
    float: none;
    margin: 0 20px;
    padding: 20px 0 0;
}

.tablaAdicional {
    margin: 20px 0;
}

#menuGlobal {
    margin: 0 auto; 
    width: 1100px;
    height: 110px;
}

#subMenuGlobal {
    border-bottom: 1px solid #B8B8B8;
    height: 60px;
}

#menuTaxiAdmin {
    padding:7px 0 0 0;
}

#bodyTaxiAdmin {
    margin: 0 auto;
    width: 1100px; 
    min-height: 650px;
}

#bodyCentral {
    float:left;
    width: 890px; 
    height: 100%;
}

#bodyInicial {
    padding: 40px 40px;
}

.table { 
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 30px;
    border-radius:5px;
}

.table td {
    text-align: center;
}

table td {
    text-align: left;
}

table {
    overflow:hidden;
    background:#fefefe;
    width:100%;
    border-radius:10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

th, td {
    padding:5px 5px; 
    text-align:center; 
}

th {
    text-shadow: 1px 1px 1px #fff; 
    background:#e8eaeb;
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
}

td {
    border-bottom:1px solid #e0e0e0; 
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
}

tr.odd-row td {
    background:#f6f6f6;
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
}

td.first, th.first {
    text-align:left
}

td.last {
    border-right:none;
}

.acciones {
    background: none repeat scroll 0 0  #1985AB;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #F6F6F6;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.50);
}

.acciones:hover {
    /*background: #626262;*/
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5) inset;
}

.pagination_desc {
  margin-left: 15px;
  margin-top: 5px;
  font-style: italic;
  color: #828f95;
}

.pagination_desc strong {
  color: #176f94;
}

.pagination {
  margin-top: 5px;
  float: right;
  margin-right: 10px;
  color: #176f94;
  font-size: 110%;
  font-weight: bold;
}

.pagination a {
  margin: 0 1px;
  text-decoration: none;
  color: #828f95;
  font-size: 75%;
  vertical-align: 1px;
  font-weight: normal;
}

.pagination a:hover {
  text-decoration: underline;
}

.pagination img {
  vertical-align: -2px;
}