<div class="modal-dialog">
    <div class="modal-content">
        {% block contenido %}
        {% endblock %}
    </div>
</div>

<script>
    // refresco los tooltips
    jQuery('.help-tooltip').tooltip();
</script>